In [5]:
import pandas as pd

#load the two excel files
file_path1='XLS_Child-labour-database_July-2024.xlsx'
file_path2='XLS_Child-marriage-database_May-2024.xlsx'

df1=pd.read_excel(file_path1,sheet_name='Child labour')
df2=pd.read_excel(file_path2,sheet_name='Child marriage')

In [8]:
#merge the two datasets on a common column
#replace 'common_column' with the actual column name present in both datasets 

merged_df=pd.merge(df1,df2,how='outer',on='Countries and areas')

In [10]:
#check for duplicates and remove them
merged_df.drop_duplicates(inplace=True)

In [12]:
#check for missing data
missing_data_summary=merged_df.isnull().sum()

In [14]:
#elminate mismatches(removing rows with missing values)
merged_df.dropna(inplace=True)

In [15]:
merged_df

,Countries and areas,Child labour (%)+ \n(2015-2023)*,Unnamed: 2_x,Unnamed: 3,Unnamed: 4_x,Unnamed: 5,Unnamed: 6,Unnamed: 7,Married by 15,Unnamed: 2_y,Married by 18,Unnamed: 4_y,Reference year,Observation footnote,Data source,Married by 18.1,Unnamed: 9,Reference year.1,Observation footnote.1,Data source.1
18,Belize,3.3,x,3.9,x,2.6,x,"CAS 2013, UNICEF and ILO calculations",6.3,y,33.5,y,2015-16,Includes reference to visiting unions,MICS 2015-16,22.2,y,2015-16,Includes reference to visiting unions,MICS 2015-16
19,Benin,19.9,y,20.4,y,19.4,y,MICS 2021-22,5.9,y,27.5,y,2021-22,Two clusters could not be visited due to insec...,MICS 2021-22,4.6,y,2021-22,Two clusters could not be visited due to insec...,MICS 2021-22
130,Nigeria,31.5,y,33,y,30,y,MICS 2021,12.3,y,30.3,y,2021,"Due to prolonged insecurity concerns, some par...",MICS 2021,1.6,y,2021,"Due to prolonged insecurity concerns, some par...",MICS 2021
135,Pakistan,11.4,y,12.5,y,10.1,y,"LFS 2017-18, UNICEF and ILO calculations",3.6,y,18.3,y,2017-18,Azad Jammu and Kashmir (AJK) and Gilgit Baltis...,DHS 2017-18,4.7,y,2017-18,Azad Jammu and Kashmir (AJK) and Gilgit Baltis...,DHS 2017-18

In [19]:
#clen line breaks,spaces,and special characters
#assuming test columns need this cleaning

def clen_text(text):
    if isinstance(text,str):
        #remove line breaks and extra spaces
        text=' '.join(text.split())
        #remove special characters (keeping only alphanumeric and spaces)
        text=''.join(e for e in test if e.isalnum() or e.isspace())
    return text
#apply the cleaning function to all columns
merged_df=merged_df.applymap(clean_text)

NameError: name 'clean_text' is not defined

In [22]:
#save the cleaned data to a new Excel file
cleaned_file_path='cleaned_combined_data.xlsx'
merged_df.to_excel(cleaned_file_path,index=False)

In [23]:
#
print("summary of missing data before cleaning")
print(missing_data_summary)

summary of missing data before cleaning
Countries and areas                   1
Child labour (%)+ \n(2015-2023)*      2
Unnamed: 2_x                        188
Unnamed: 3                            2
Unnamed: 4_x                        188
Unnamed: 5                            2
Unnamed: 6                          188
Unnamed: 7                          112
Married by 15                        16
Unnamed: 2_y                        173
Married by 18                        16
Unnamed: 4_y                        171
Reference year                       78
Observation footnote                195
Data source                          78
Married by 18.1                      16
Unnamed: 9                          185
Reference year.1                    120
Observation footnote.1              208
Data source.1                       120
dtype: int64

In [24]:
#summary of cleaned data
print("summary of cleaned data is")
print(merged_df)

summary of cleaned data is
    Countries and areas Child labour (%)+ \n(2015-2023)* Unnamed: 2_x  \
18               Belize                              3.3            x
19                Benin                             19.9            y
130             Nigeria                             31.5            y
135            Pakistan                             11.4            y

    Unnamed: 3 Unnamed: 4_x Unnamed: 5 Unnamed: 6  \
18         3.9            x        2.6          x
19        20.4            y       19.4          y
130         33            y         30          y
135       12.5            y       10.1          y

                                   Unnamed: 7 Married by 15 Unnamed: 2_y  \
18      CAS 2013, UNICEF and ILO calculations           6.3            y
19                               MICS 2021-22           5.9            y
130                                 MICS 2021          12.3            y
135  LFS 2017-18, UNICEF and ILO calculations           3.6            y

    Married by 18 Unnamed: 4_y Reference year  \
18           33.5            y        2015-16
19           27.5            y        2021-22
130          30.3            y           2021
135          18.3            y        2017-18

                                  Observation footnote   Data source  \
18               Includes reference to visiting unions  MICS 2015-16
19   Two clusters could not be visited due to insec...  MICS 2021-22
130  Due to prolonged insecurity concerns, some par...     MICS 2021
135  Azad Jammu and Kashmir (AJK) and Gilgit Baltis...   DHS 2017-18

    Married by 18.1 Unnamed: 9 Reference year.1  \
18             22.2          y          2015-16
19              4.6          y          2021-22
130             1.6          y             2021
135             4.7          y          2017-18

                                Observation footnote.1 Data source.1
18               Includes reference to visiting unions  MICS 2015-16
19   Two clusters could not be visited due to insec...  MICS 2021-22
130  Due to prolonged insecurity concerns, some par...     MICS 2021
135  Azad Jammu and Kashmir (AJK) and Gilgit Baltis...   DHS 2017-18