In [5]:
import pandas as pd
#attempt to load the dataset again
corruption_df=pd.read_excel('corruption_perception_index.xlsx')
unicef_df=pd.read_excel('unicef_oct_2014.xlsx')

#display the first few rows of each dataset to under
corruption_df_head=corruption_df.head()
unicef_df_head=unicef_df.head()

corruption_df_head,unicef_df_head

(     Unnamed: 0           Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
 0  Country Rank  Country / Territory        NaN        NaN        NaN
 1           NaN                  NaN    WB Code   IFS Code     Region
 2             1              Denmark        DNK        128         EU
 3             1          New Zealand        NZL        196         AP
 4             3              Finland        FIN        172         EU

      Unnamed: 5      Unnamed: 6    Unnamed: 7      Unnamed: 8  \
 0  Country Rank  CPI 2013 Score  Surveys Used  Standard Error
 1           NaN             NaN           NaN             NaN
 2             1              91             7             2.2
 3             1              91             7             2.3
 4             3              89             7             1.7

                 Unnamed: 9  ... Unnamed: 16 Unnamed: 17 Unnamed: 18  \
 0  90% Confidence interval  ...         NaN         NaN         NaN
 1                    Lower  ...         IMD        ICRG          WB
 2                       87  ...          96          98           0
 3                       87  ...          89          98           0
 4                       86  ...          89          98           0

   Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22 Unnamed: 23 Unnamed: 24  \
 0         NaN         NaN         NaN         NaN         NaN         NaN
 1         WEF         WJP         EIU          GI        PERC          TI
 2          87          89          88          83           0           0
 3          96          86          88          83           0           0
 4          90          87          88          83           0           0

   Unnamed: 25
 0         NaN
 1          FH
 2           0
 3           0
 4           0

 [5 rows x 26 columns],
   UNICEF global databases Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
 0            Child labour        NaN        NaN        NaN        NaN
 1   Updated November 2014        NaN        NaN        NaN        NaN
 2                     NaN        NaN        NaN        NaN        NaN
 3                     NaN  Total (%)        NaN    Sex (%)        NaN
 4     Countries and areas        NaN        NaN       Male     Female

                Unnamed: 5 Unnamed: 6                     Unnamed: 7  \
 0                     NaN        NaN                            NaN
 1                     NaN        NaN                            NaN
 2                     NaN        NaN                            NaN
 3  Place of residence (%)        NaN  Household wealth quintile (%)
 4                   Urban      Rural                        Poorest

   Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11     Unnamed: 12  Unnamed: 13
 0        NaN        NaN         NaN         NaN             NaN          NaN
 1        NaN        NaN         NaN         NaN             NaN          NaN
 2        NaN        NaN         NaN         NaN             NaN          NaN
 3        NaN        NaN         NaN         NaN  Reference Year  Data Source
 4     Second     Middle      Fourth     Richest             NaN          NaN  )

In [ ]:
#
corr